@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

.center-aligned-group-header .ag-header-cell-comp-wrapper,  .center-aligned-group-header .ag-header-cell-label{
  justify-content: center;
}